/******************************************************************
Site Name: ArchAgent
Author: Aha! Digital Marketing + Designj

Stylesheet: Admin Stylesheet

******************************************************************/

#menu-comments{
  display: none;
}